@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenButton Text="@text"  Click="@ButtonClicked"></RadzenButton>

@for (var i = 0; i < 10; i++)
{
    <RizSoft.Acme.WebUI.Pages.Products.ProductCard Id="@i" />
}




@code {
    string text = "Hi";

    void ButtonClicked()
    {
        text = "Ciao";
    }
}

